extends ../layout

block content
  div.row
    div.col-md-6
      form(method='POST'  action='/admin/records/edit/' enctype="multipart/form-data")
        input(type='hidden' name ='_method' value='put')
        input(type='hidden' name ='rid' value=record.rid)
        br
        b Название
        br
        input.form-control(type='text' name ='title' value=record.title)
        br
        b Группа
        br
        input.form-control(type='text' name ='group' value=record.group.name)
        br
        b Состав
        br
        b Год
        br
        input.form-control(type='text' name ='year' value=record.year)=members
        br
        b Обзор
        br
        textarea.form-control(name ='review', row=20)=record.review
        br
        input.btn.btn-success(type='submit')
    div.col-md-4
      form.control-group(method='POST'  action='/admin/records/setPic/' enctype="multipart/form-data")
        input(type='hidden' name ='_method' value='put')
        input(type='hidden' name ='rid' value=record.rid)
        input(type='hidden' name ='bid' value=record.group.bid)
        br
        b Фото
        br
        img(src='/images/covers/'+record.rid+'R'+record.cover, width='120px')
        br
        input(type='file' name ='cover')=members
        br
        input(type='submit')
      form(method='POST'  action='/admin/records/addSong')
        input(type='hidden' name ='_method' value='put')
        input(type='hidden' name ='rid' value=record.rid)
        br
        each s in record.songs
          li.form-control=s.order+" "+s.title+" "+s.time
            a(href='/admin/bands/del/'+s.order)
              i.glyphicon.glyphicon-remove.mint
              div.row
        div.col-md-4
          input.input-small(type='text' size=2 name='order' value=countSongs)
          input(type='text', name='title')
          input.input-small(type='text' size=5 name='time')
          input(type='submit')
  a(href='/admin/bands/') Назад