extends ../layout

block content
  h2.page-header  #{record.title+" "}
    i  (#{record.group.name})
  div.row
    div.col-md-7
      ul.nav.nav-tabs(role="tablist")
        li.active(role="presentation")
          a(href='#bio'  aria-controls="bio" role="tab" data-toggle="tab") Обзор
        li(role="presentation")
          a(href='#rec'  aria-controls="Profile" role="tab" data-toggle="tab") Композиции
        li(role="presentation")
          a(href='#mem'  aria-controls="Messages" role="tab" data-toggle="tab") Состав
  br
  div.row.tab-content
    div.col-md-7.tab-pane.fade.in.active(role="tabpanel"  id="bio")
      img.rfloat.img-rounded(src="/images/covers/"+record.group.bid+"/"+record.cover, width="180px")
      |#{record.review}
    div.col-md-7.tab-pane.fade(role="tabpanel"  id="rec")
      img.rfloat.img-rounded(src="/images/covers/"+record.group.bid+"/"+record.cover, width="180px")
      each s in record.songs
        li
          a(href='/records/')=s.title+" " +s.time
    div.col-md-7.tab-pane.fade(role="tabpanel"  id="mem")
      img.rfloat.img-rounded(src="/images/covers/"+record.group.bid+"/"+record.cover, width="180px")
      each m in record.members
        li
          a(href='musicians/'+m.aid)
            if m.main
              b=m.name
            else
              font=m.name

  hr

