extends ../layout

block content
  script(src='/javascripts/tinymce/tinymce/js/tinymce/tinymce.min.js')
  script tinymce.init({ selector: '.edited',plugins: 'advlist autolink link image lists charmap print preview imagetools advimage',toolbar: 'undo redo | styleselect removeformat| bold italic | link unlink cleanup image | advimage',imagetools_toolbar: 'rotateleft rotateright | flipv fliph'});
  div.row
    div.col-md-6
      form(method='POST'  action='/admin/bands/edit?_method=PUT' enctype="multipart/form-data")
        input(type='hidden' name ='_method' value='put')
        input(type='hidden' name ='bid' value=band.bid)
        br
        b Название
        br
        input.form-control(type='text' name ='name' value=band.name)
        br
        b Страна
        br
        input.form-control(type='text' name ='state' value=band.state)
        br
        b Описание
        br
        textarea.form-control(name ='short')=band.short
        br
        b История
        br
        textarea.form-control.edited(name ='history', row=20)=band.history
        br
        input.btn.btn-success(type='submit')
    div.col-md-4
      form.control-group(method='POST'  action='/admin/bands/setPic/' enctype="multipart/form-data")
        input(type='hidden' name ='_method' value='put')
        input(type='hidden' name ='bid' value=band.bid)
        br
        b Фото
        br
        img(src='/images/main/'+band.mainImage, width='120px')
        br
        input(type='file' name ='main_pic')=members
        br
        input(type='submit')
      form(method='POST'  action='/admin/bands/addMember/' enctype="multipart/form-data")
        input(type='hidden' name ='_method' value='put')
        input(type='hidden' name ='bid' value=band.bid)
        br
        each m in band.members
          li.form-control=m.name
             a(href='/admin/bands/deleteMember/'+m.aid+'/'+band.bid)
               i.glyphicon.glyphicon-remove.mint
        input(type='text', name='name' size=26)
        br
        input(type='submit')
      form(method='POST'  action='/admin/bands/addRecord/' enctype="multipart/form-data")
        input(type='hidden' name ='_method' value='put')
        input(type='hidden' name ='bid' value=band.bid)
        br
        each a in band.albums
          li.form-control=a.title+" "+a.year
            a(href='/admin/bands/deleteRecord/'+a.rid+'/'+band.bid)
              i.glyphicon.glyphicon-remove.mint
            a(href='/admin/bands/edit/'+a.rid)
              i.glyphicon.glyphicon-edit.mint
        input.lfloat(type='text' size=2 name='order' value=countSongs)
        input.lfloat(type='text', name='title' size=20)
        input.lfloat(type='text' size=2 name='year')
        input(type='submit')
  a(href='/bands/') Назад